[chevalier]
# Address to listen for requests on. This is a ZeroMQ URI.
listenaddress = "tcp://*:6283"
statusaddress = "tcp://*:6284"
loglevel = info

[elasticsearch]
# Assumes port 9200.
host = "localhost"
index = "chevalier"
metadataindex = "chevalier_metadata"
datatype = "datasource"
maxconns = 4
retryseconds = 10

[vaultaire]
# Endpoint for the Vaultaire contents daemon.
contentsendpoint = "tcp://127.0.0.1:5580"
# Origins to request from Vaultaire. 
origins = ABCDEF
origins = FEDCBA

[indexer]
parallelism = 4
